<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formula & Key Concept Repository</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/search.js" defer></script>
</head>
<body>
    <header>
        <h1>Formula & Key Concept </h1>
        <input type="text" id="search-bar" placeholder="Search for a formula...">
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
